body{
  background-color:rgb(224, 224, 224);
}
#app{
    margin:0 auto;
    padding:0;
    height:100%;
}
.center{
  margin: 0 auto;
}
.main-btn {
  width: 80%;
  max-width: 900px;
  margin: 8px;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}
.main-btn a {
  display: block;
  width:100%;
  height:100%;
  margin:8px;
  padding:0;
  text-decoration: none;
  text-align: center;
  color: black;
}

.main-btn:hover{
  background-color:rgb(168, 168, 168);
}
.main-btn:hover a {
  color: rgb(54, 54, 54);
}

.alterPage{
  padding: 4px;
  border: 2px solid black;
  width: 180px;

  transition: all 0.2s ease-in-out;
}
.alterPage:hover{
  background-color:rgb(168, 168, 168);
}
.alterPage a{
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
.alterPage:hover a{
  color: rgb(54, 54, 54);
}
